.Person{
    border: 1px solid red;
    padding : 15px;
    text-align: center;
    margin: 16px auto;
    box-shadow: indigo;
}


.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.green{
    color: indigo;
}